main {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    text-shadow: 0 0 15px #ffff00;
    color: #00ffff;
    animation: title 1s infinite;
    font-family: "Delicious Handrwn", cursive;
    text-align: center;
}
hr {
    width: 90%;
    margin: 1rem;
}
.containerCards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cardCharacter {
    width: 20rem;
    height: 10rem;
    background-color: rgba(38, 17, 27, 0.2117647059);
    border: groove 5px #484444;
    margin: 1rem;
    display: flex;
}
.cardCharacter > img {
    width: 50%;
    height: 100%;
}
.cardCharacter > a {
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color: #00ffff;
    text-shadow: #ffff00;
}

.cardCharacter > a:hover {
    color: #ffff00;
    text-shadow: #00ffff;
}
.descriptionCard {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptionCard > h4 {
    text-align: center;
    color: #ffff00;
    text-shadow: 0 0 15px white;
}
.descriptionCard > p {
    font-size: 1.5rem;
    text-align: center;
    color: #00ffff;
    margin-top: 2rem;
}